<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <title>Home | Hive</title>
</head>

<body>
  <main>
    <section>
      <% if (locals.user) { %>
      <h1>Welcome back <%= user.first_name %></h1>
      <a href="/new-message">Create a new message</a>
      <% if (locals.user.membership_status !== 'admin' ) {%>
      <a href="/admin">Log In as Admin</a>
      <% } %>
      <a href="/log-out">LOG OUT</a>
      <% if (messages.length === 0) { %>
      <p>No messages at this moment.</p>
      <% } %>
      <% messages.forEach(msg => { %>
      <% if (locals.user.membership_status == 'admin') { %>
      <p class="name">
        <%= msg.first_name %> <%= msg.last_name %>
      </p>
      <p><%= msg.created_at %></p>
      <h4 class="msg-title"><%- msg.title %></h4>
      <p class="msg"><%- msg.content %></p>
      <form action="/delete" method="POST" style="display:inline;">
        <input type="hidden" name="messageId" value="<%= msg.id %>">
        <button type="submit">Delete</button>
      </form>
      <% } else if (locals.user.membership_status == 'premium')  { %>
      <p class="name">
        <%= msg.first_name %> <%= msg.last_name %>
      </p>

      <p><%= msg.created_at %></p>
      <h4><%- msg.title %></h4>
      <p><%- msg.content %></p>
      <% } else { %>
      <h4><%- msg.title %></h4>
      <p><%- msg.content %></p>

      <% } %>
      <% }) %>

      <% } else { %>
      <div class="form-container">
        <p class="title">Login</p>
        <form class="form" action="/log-in" method="POST">
          <div class="input-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="" />
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="" />
          </div>
          <% if (errors.error && errors.error.length > 0) { %>
          <div class="errors">
            <% errors.error.forEach(function(message) { %>
            <p class="error"><%= message %></p>
            <% }); %>
          </div>
          <% } %>

          <button class="sign" type="submit">Sign in</button>
          <p class="signup">Don't have an account?
            <a rel="noopener noreferrer" href="/sign-up">Sign up</a>
          </p>
          <% messages.forEach(msg => { %>
          <div class="msg-card">
            <div class="msg-body">
              <p class="msg-title">
                <%- msg.title %>
              <p class="msg-content"><%- msg.content %></p>
              </p>
              <p class="name">
                from: @<%= author %>
              </p>
            </div>
          </div>

          <%})%>
        </form>

      </div>
      <% } %>

    </section>
  </main>
  <footer>

  </footer>

</body>

</html>